body {
    background-color: #F5F5F5;
}

.row {
    /* border: 3px solid greenyellow; */
    margin: 1% 10% 0.5% 10%;
    /* margin: 0% 0.5% 1% 0.5%; */
}

.one, .two, .three {
    margin-right: 0.5%;
}

.nopadding {
    padding: 0 !important;
}

.no-scroll {
    overflow: hidden;
}

.c-img {
    margin-top: 2%;
    border: 3px solid rgb(0, 38, 255);
}

.c-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}



.blurBackground {
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#c-media {
    display: none;
}

#c-image-display {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 10;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* border: 3px solid rgb(0, 255, 34); */
}

#c-image-display img {
    display: block;
    margin: 0 auto;

    object-fit: contain;
    width: 100%;
    height: 100%;
}