body {
    background-color: #F5F5F5;
}

.row {
    border: 3px solid greenyellow;
    margin: 5% 10% 1% 10%;
}

.col {
    border: 3px solid red;
}

.c-img {
    margin-top: 2%;
    border: 3px solid rgb(0, 38, 255);
}

.c-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.one, .two, .three {
    margin-right: 0.5%;
}

.nopadding {
    padding: 0 !important;
}

.no-scroll {
    overflow: hidden;
}

.blurBackground {
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#c-image-display {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 10;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);

    /* margin: 0% 10% 0% 10%; */
    
    border: 3px solid rgb(0, 255, 34);
}

#c-image-display img {
    display: block;
    margin: 0 auto;

    object-fit: contain;
    width: 100%;
    height: 100%;
}