.no-margin {
    margin: 0 !important;
}

/* ----------------------- Has the main video in focus ----------------------- */
.c-video {
    /* border: 3px solid greenyellow; */
    margin-top: 3%;

    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.c-video iframe {
    /* border: 3px solid rgb(247, 0, 255); */

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ----------------------- Video Playlist ----------------------- */
.c-playlist {
    margin-top: 8.5%;
    /* border: 3px solid greenyellow; */
}


.v-display {
    /* border: 3px solid rgb(255, 0, 242); */
    display: flex;
    justify-content: left;
    margin: 1% 1% 1% 0%;
}

.v-display:hover {
    background-color: rgba(211,211,211, 0.5);
    cursor: pointer;
}

/* Video Thumbnail */
.c-playlist img {
    width: 30%;
    height: 100%;
    margin: 1% 3% 0% 0%;
}

.v-info {
    margin: 1%;
    /* border: 3px solid greenyellow; */
}

.playlist-video-title {
    font-size: 90%;

    /* border: 3px solid rgb(64, 214, 157); */
}

.playlist-author {
    margin-top: 1%;
    font-size: 80%;

    /* border: 3px solid rgb(255, 3, 3); */
}