.c-video {
    margin-top: 1%;
    margin-left: 1%;
    width: 100%;

    border: 3px solid greenyellow;
}

.c-playlist {
    border: 3px solid greenyellow;
    margin-left: 1%;
}

/* Video Thumbnail */
.c-playlist img {
    width: 30%;
    height: 100%;
    margin: 1% 3% 0% 0%;
}

.v-display {
    border: 3px solid rgb(255, 0, 242);
    display: flex;
    justify-content: left;
    margin: 1% 1% 1% 0%;
}

.v-display:hover {
    background-color: rgba(211,211,211, 0.5);
    cursor: pointer;
}

.v-info {
    margin: 1%;
    border: 3px solid greenyellow;
}

.playlist-video-title {
    font-size: 90%;

    border: 3px solid rgb(64, 214, 157);
}

.playlist-author {
    margin-top: 1%;
    font-size: 80%;

    border: 3px solid rgb(255, 3, 3);
}