{% extends "base.html" %}
{% block title %}Photo Gallery{% endblock %}
{% block headLinks %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/imageStyle.css') }}">

{% endblock %}

{% block content %}
<div id="c-image-display">
    <img id="enlarge-display" alt="¯\_(ツ)_/¯">
</div>
<div id="masonary-gallery" class="row">
        <div class="col-lg one nopadding">
            {% for i in range(2) %}
            <div class="c-img" id="c-img">
                <img onclick="expandImg(this)" id="resize-img" src="{{ url_for('static', filename=imagePaths[i]) }}" alt='oof' />
            </div>
            {% endfor %}
        </div>

        <div class="col-lg two nopadding">
            {% for i in range(2, 4) %}
            <div class="c-img">
                <img src="{{ url_for('static', filename=imagePaths[i]) }}" alt='oof' />
            </div>
            {% endfor %}
        </div>
        
        <div class="col-lg three nopadding">
            {% for i in range(4, 6) %}
            <div class="c-img">
                <img src="{{ url_for('static', filename=imagePaths[i]) }}" alt='oof' />
            </div>
            {% endfor %}
        </div>
        
        <div class="col-lg nopadding">
            {% for i in range(8, 10) %}
            <div class="c-img">
                <img src="{{ url_for('static', filename=imagePaths[i]) }}" alt='oof' />
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}
{% block bodyLinks %}
<script src="{{ url_for('static', filename='js/imageScript.js') }}"></script>
{% endblock %}