{% extends "base.html" %}
{% block title %} Playlist {% endblock %}

{% block headLinks %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/videoStyle.css')}}">

{% endblock %}

{% block content %}
<div class="row no-margin">
    <div class="col-lg-9">
        <div class="c-video">
            <iframe id="current-video" src="https://www.youtube.com/embed/aYi7hHWG7zw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="c-playlist" id="c-playlist">

            
            <template id="post_template">
                <div class="v-display">
                    <img class="center" id="v-thumbnail" src="https://img.youtube.com/vi/zCszs4cJ0DU/0.jpg" />

                    <div class="v-info">
                        <div class="playlist-video-title">
                            <span><b id="playlist-video-title"></b></span>
                        </div>
                        <div class="playlist-author">
                            <span id="playlist-author">Joshua Truong</span>
                        </div>
                    </div>
                </div>
            </template>

        </div>

        <!-- element to trigger the IntersectionObserver -->
        <div class="d-flex justify-content-center mb-3" id="sentinel">
        <div class="spinner-border" role="status"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyLinks %}
<script src="{{ url_for('static', filename='js/playlist/VG-video-loader.js') }}"></script>
<script src="{{ url_for('static', filename='js/playlist/videoPlaylist.js') }}"></script>
{% endblock %}