{% extends "base.html" %}
{% block title %} Playlist {% endblock %}

{% block headLinks %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/videoStyle.css')}}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <div class="c-video">
            <iframe width="1000" height="500" src="https://www.youtube.com/embed/aYi7hHWG7zw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="c-playlist">
            {% for i in range(10) %}
            <div class="v-display">
                <img class="center" src="{{url_for('static', filename='posters/7313.jpg') }}" />
                <div class="v-info">
                    <div class="playlist-video-title">
                        <span><b>Python Flask Tutorial: Full-Featured Web App Part 2 - Templates</b></span>
                    </div>
                    <div class="playlist-author">
                        <span>Joshua Truong</span>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}

{% block bodyLinks %}

{% endblock %}